# name: ublue akmods 41
# on:
#   merge_group:
#   pull_request:
#     branches:
#       - main
#     paths-ignore:
#       - '**.md'
#   schedule:
#     - cron: '5 0 * * *'  # 0005 UTC everyday
#   workflow_dispatch:

# jobs:
#   kernel-akmods:
#     uses: ./.github/workflows/reusable-build.yml
#     secrets: inherit
#     strategy:
#       fail-fast: false
#       matrix:
#         fedora_version:
#           - 41
#         kernel_flavor:
#           - asus
#           - bazzite
#           - surface
#           - main
#           - coreos-stable
#           - coreos-testing
#     with:
#       fedora_version: ${{ matrix.fedora_version }}
#       kernel_flavor: ${{ matrix.kernel_flavor }}
