name: ublue akmods 41
on:
  pull_request:
  merge_group:
  schedule:
    - cron: '10 2 * * *'  # 2am-ish UTC everyday (timed against official fedora container pushes, and after 'config')
  workflow_dispatch:

jobs:
  build:
    name: build
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
    with:
      fedora_version: 41